// basic styles
body
	position: relative
	min-width: 320px
	color: $gray
	+f('bp400', 16, 22)

// selection
h1, h2, h3, h4, h5, h6, p, a, span, div, img, mark, ul, li
	&::selection
		color: $white
		background-color: $blue

+selection
	color: $white
	background-color: $blue

// layout
.out
	overflow: hidden

.container
	max-width: 1230px
	margin: 0 auto
	padding: 0 45px
	+lg
		padding: 0 15px

.content
	&::after
		position: absolute
		top: 45px
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		content: ''
		background: url('../img/bg/page-bg.jpg')
	&__container
		box-shadow: 0 0 10px rgba($blue-dark, .3)
		background: $white

// titles

.is-hidden
	+hide-el

.btn
	display: inline-block
	vertical-align: top
	padding: 0 20px
	height: 45px
	line-height: 48px
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25)
	border-radius: 10px
	text-align: center
	transition: all 0.1s cubic-bezier(0.4, 0, 1, 1)
	+f('bp700', 15)
	text-transform: uppercase
	&_yellow
		background: $yellow linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
		color: $black
	&_blue
		background: #0069ab linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
		color: $white
	.no-touch &:active
		transform: translate(2px, 2px)
		box-shadow: none

.title-bg
	position: relative
	display: inline-block
	vertical-align: top
	padding: 19px 15px
	min-width: 158px
	+f('bp900', 22)
	line-height: 1
	color: $black
	text-align: center
	text-transform: uppercase
	background: url("../img/bg/title-bg.svg") no-repeat 50% 50%/ cover