.footer
	position: relative
	padding: 42px 0
	background: $blue-dark
	+md
		padding: 30px 0
	+sm
		padding: 25px 0 20px
	&::after
		position: absolute
		z-index: -1
		top: -110px
		left: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 110px 50vw
		border-color: transparent transparent #0a141f transparent
		content: ''
		+md
			display: none
	&__container
		max-width: 1140px
		padding: 0 15px
	&__info
		display: flex
		align-items: flex-end
		margin-top: 18px
		+sm
			margin-top: 0
			flex-wrap: wrap
			align-items: flex-start
		+mob-xs
			flex-direction: column
			align-items: center
		&-col
			flex: 1 1 auto
			+sm
				flex: 1 1 50%
				margin-bottom: 20px
				text-align: center
			+mob-xs
				flex: 1 1 auto
			&:not(:last-child)
				padding-right: 40px
				+md
					padding-right: 20px
				+sm
					padding-right: 0
			&:nth-child(1)
				flex-shrink: 0
				+mob-xs
					flex-shrink: 1
			&:nth-child(2),
			&:nth-child(3)
				+sm
					order: 2
					margin-bottom: 0
			&:nth-child(4)
				flex-shrink: 0
				+mob-xs
					flex-shrink: 1
			&:nth-child(5)
				+sm
					display: none
				+mob-xs
					display: block
					order: 10
					margin-top: 10px
					margin-bottom: 0
		&-title
			color: rgba($white, .5)
			+f('bp700', 15, 25)
			letter-spacing: .02em
			text-transform: uppercase
			
	&__logo
		display: inline-block
		margin-bottom: 20px
	&__copy
		color: rgba(#e4f3f9, .5)
		+f('bp300', 13, 15)
	&__mail
		font-size: 16px
		color: #ffdc36
		border-bottom: 1px solid rgba(#ffdc36, .5)
		+trs
		.no-touch &:hover
			border-bottom-color: #ffdc36

/* dev-block
	----------------------------------- */
.dev-block
	&__link
		display: inline-flex
		align-items: center
		text-transform: uppercase
		color: #5cbbf7
		&::after
			display: block
			margin-left: 9px
			width: 16px
			height: 20px
			background: url("../img/bg/dev.png") no-repeat
			content: ''
		span
			border-bottom: 1px solid rgba(#5cbbf7, .6)
			+trs
		.no-touch &:hover span
			border-bottom-color: #5cbbf7
	&__text
		white-space: nowrap
		color: $white
		font-size: 14px
		
/* ===================================
	 socials
	 =================================== */
.socials
	display: flex
	align-items: center
	+sm
		justify-content: center
	&__link
		display: inline-flex
		align-items: center
		justify-content: center
		position: relative
		height: 30px
		font-size: 0
		.no-touch &:hover .icon
			fill: #5cbbf7
		&::after
			pointer-events: none
			position: absolute
			top: 3px
			right: -12px
			height: 26px
			width: 1px
			transform: rotate(30deg)
			background: rgba(#ffdc36, .5)
			content: ''
		&:not(:first-child)
			margin-left: 27px
		&:last-child::after
			display: none
		.icon
			+trs
			&-vk
				font-size: 13px
			&-fb
				font-size: 20px
			&-inst
				font-size: 20px
			&-tw
				font-size: 16px
	
/* ===================================
	 pay-method
	 =================================== */
.pay-method
	display: flex
	align-items: center
	+sm
		justify-content: center
	&__item
		position: relative
		display: inline-flex
		align-items: center
		justify-content: center
		height: 28px
		font-size: 0
		&::after
			pointer-events: none
			position: absolute
			top: 0
			right: -14px
			height: 26px
			width: 1px
			transform: rotate(30deg)
			background: rgba(#5cbbf7, .5)
			content: ''
		&:last-child::after
			display: none
		&:not(:first-child)
			margin-left: 25px
		.no-touch &:hover .icon
			fill: $yellow
		.icon
			+trs
			&-visa
				font-size: 14px
			&-mc
				font-size: 20px