.header
	&__menu
		padding: 13px 0
		background-color: #131c27
	&__container
		display: flex
		max-width: 1140px
		justify-content: space-between
	&__cab-link
		display: inline-flex
		align-items: center
		font-size: 16px
		color: $aqua-blue
		.no-touch &:hover span
			border-bottom-color: $yellow
			color: $yellow
		.no-touch &:hover	.icon
			fill: $yellow
		span
			border-bottom: dashed 1px rgba(#b0e2fa, .4)
			+trs
		.icon
			margin-right: 9px
			fill: currentColor
			font-size: 22px
			+trs
	&__search
		max-width: 250px
		&-form
			position: relative
		input
			width: 100%
			padding: 0 50px 0 20px
			height: 45px
			border: 3px solid $aqua-blue
			background-color: $white
			border-radius: 10px
			+placeholder-color($gray)
			+f('bp300', 15)
			+trs
			&:focus
				border-color: $yellow
		&-btn
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 48px
			z-index: 1
			.icon
				font-size: 16px
	&__info
		&-container
			padding: 45px 15px 50px
			max-width: 1140px
		&-inner
			margin: 0 -15px
			font-size: 0
		&-col
			display: inline-block
			vertical-align: middle
			padding: 0 15px
	&__logo
		display: block
	&__basket
		$parent: &
		position: relative
		display: flex
		align-items: center
		padding: 10px 30px
		color: $blue-dark
		text-align: right
		border-radius: 10px
		background: $yellow linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
		+trs
		z-index: 1
		&::after
			position: absolute
			width: 30px
			height: 100%
			content: ''
			top: 0
			right: 0
			z-index: 0
			border-radius: 0 10px 10px 0
			transform-origin: 100% 100%
			transform: skew(-8deg)
			background: $yellow linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
			+trs
		.no-touch &:hover #{$parent}-text::before
			transform: translateY(200%)
		&-text
			padding-left: 10px
			line-height: 1
		//&::before
		//	content: ''
		//	position: absolute
		//	top: -100%
		//	left: 0
		//	right: 10px
		//	border-radius: 10px 0 0 10px
		//	height: 100%
		//	transform-origin: 100% 100%
		//	background: $yellow linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
		//	+trs
		&-title
			margin-bottom: 3px
			font-size: 18px
		&-status
			+f('bp300', 14)
		.icon
			fill: $black
			font-size: 48px

/* ===================================
	 nav
	 =================================== */
.nav
	$parent: &
	&__list
		display: flex
		li
			&:not(:first-child)
				margin-left: 33px
			&.is-active a
				pointer-events: none
				color: $yellow
			a
				color: $white
				font-size: 15px
				+trs
				.no-touch &:hover
					color: $yellow
	&_footer
		li
			&.is-active a
				border-bottom-color: rgba($yellow, .5)
			a
				border-bottom: 1px solid rgba($white, .5)
				.no-touch &:hover
					border-bottom-color: $yellow
					
/*
	----------------------------------- */
.phones
	$parent: &
	&__num
		display: block
		+f('bp700', 25, 35)
		color: $blue-dark
		+trs
		.no-touch &:hover
			color: $yellow
	&_footer
	&_footer #{$parent}__num
		color: $white
		line-height: 29px
		