.icon-brand {
  width: 1.33em;
  height: 1em;
  fill: #2a95d9;
  stroke: initial;
}
.icon-cart {
  width: 1.21em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-check {
  width: 1.31em;
  height: 1em;
  fill: #0069ab;
  stroke: initial;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
.icon-feeder {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: #131c27;
  stroke: initial;
}
.icon-mc {
  width: 1.7em;
  height: 1em;
  fill: #5cbbf7;
  stroke: initial;
}
.icon-novelty {
  width: 1.03em;
  height: 1em;
  fill: #33c04a;
  stroke: initial;
}
.icon-present-sm {
  width: 0.95em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-present {
  width: 0.97em;
  height: 1em;
  fill: #f6515b;
  stroke: initial;
}
.icon-recommend {
  width: 0.87em;
  height: 1em;
  fill: #fbb12f;
  stroke: initial;
}
.icon-tw {
  width: 1.25em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
.icon-user {
  width: 0.71em;
  height: 1em;
  fill: #b0e2fa;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-visa {
  width: 3.21em;
  height: 1em;
  fill: #5cbbf7;
  stroke: initial;
}
.icon-vk {
  width: 1.91em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
