/* ===================================
	 sidebar
	 =================================== */
.sidebar
	&__menu
		padding: 36px 0 41px
		+sm
			display: flex
			align-items: center
			justify-content: space-between
			padding: 10px 10px 20px
		+xs
			flex-direction: column
			flex-wrap: wrap
		li
			&:not(:first-child)
				margin-top: 22px
				+sm
					margin-top: 0
					margin-left: 20px
				+xs
					margin: 15px 0 0 0
			a
				display: inline-block
				+f('bp700', 18)
				line-height: 1
				color: $blue-dark
				text-transform: uppercase
				+trs
				.no-touch &:hover
					color: $yellow-dark
			.icon
				display: inline-block
				vertical-align: -8px
				width: 32px
				+sm
					vertical-align: middle
				&-present
					font-size: 30px
				&-brand
					font-size: 23px
				&-novelty
					font-size: 29px
				&-recommend
					font-size: 30px
			span
				display: inline-block
				vertical-align: middle
				margin-left: 9px

/* ===================================
	 product-filter
	 =================================== */
.product-filter
	+sm
		text-align: center
	&__title
		margin-bottom: 12px
		+sm
			margin-bottom: 20px
	&__inner
		&.is-visible
			max-height: 1000px
		+sm
			display: flex
			flex-wrap: wrap
			max-height: 0
			padding-bottom: 5px
			overflow: hidden
			text-align: left
			transition: max-height .5s ease-in
			> div
				flex: 1 1 50%
				padding: 0 15px
		+xs
			> div
				flex: 1 0 100%
				padding: 0
	
	&__sub-title
		color: $blue-dark
		+f('bp700', 16)
		letter-spacing: .02em
	&__type
		margin-bottom: 18px
		+sm
			order: 1
			margin-bottom: 0
		&-inner
			margin-top: 21px
			font-size: 0
			+mob-xs
				text-align: center
				+justify
		&-item
			position: relative
			display: inline-block
			vertical-align: middle
			margin: 0 25px 23px 0
			+sm
				margin: 0 0 23px 23px
			+mob-xs
				margin: 0 0 8px 0
			&:first-child
				margin-left: 10px
				+sm
					margin-left: 0
			&:nth-child(5)
				top: -6px
				left: -9px
			input
				display: none
				&:checked + label::before
					opacity: 1
				&:checked + label::after
					opacity: 0
		&-icon
			display: block
			cursor: pointer
			&::before, &::after
				content: ''
				display: block
			&::before
				position: absolute
				opacity: 0
				top: 0
				left: 0
			&_dogs
				&::after
					+s(36, 37, -5, -352, filter)
				&::before
					+s(36, 37, -5, -394, filter)
			&_cats
				&::after
					+s(56, 39, -5, -72, filter)
				&::before
					+s(56, 39, -5, -116, filter)
			&_rabbits
				&::after
					+s(37, 38, -5, -266, filter)
				&::before
					+s(37, 38, -5, -309, filter)
			&_birds
				&::after
					+s(54, 48, -5, -160, filter)
				&::before
					+s(54, 48, -5, -213, filter)
			&_fishes
				&::after
					+s(57, 31, -5, -0, filter)
				&::before
					+s(57, 31, -5, -36, filter)
					
	&__prices
		+sm
			order: 1
	&__group
		&:not(:last-child)
			margin-bottom: 28px
	&__check
		position: relative
		margin-top: 9px
		$parent: &
		input
			display: none
			&:checked + #{$parent}-item .icon
				opacity: 1
		&-item
			display: inline-flex
			flex-direction: row-reverse
			align-items: center
			cursor: pointer
			+nosel
		&-square
			position: relative
			display: block
			width: 20px
			height: 20px
			margin-right: 9px
			border: 2px solid #ebebeb
			background: $white
			.icon
				position: absolute
				top: 1px
				right: -3px
				font-size: 12px
				opacity: 0
				pointer-events: none
		&-tooltip
			position: absolute
			top: 50%
			margin-top: -21px
			right: 38px
			padding: 9px 0
			min-width: 96px
			z-index: 1
			background: url('../img/bg/check-tooltip.png') no-repeat 50% 50%/cover
			text-align: center
			+mob-xs
				right: 0
			&-text
				+f('bp500', 13)
				line-height: 1
				color: $blue
				text-decoration: underline
	&__actions
		margin-top: 25px
		font-size: 0
		text-align: center
		&-btn
			display: inline-block
			vertical-align: middle
			min-width: 122px
			padding: 0 10px
			text-align: center
			&:not(:first-child)
				margin-left: 10px
	
/* ===================================
	 promo
	 =================================== */
.promo
	position: relative
	display: flex
	align-items: center
	min-height: 356px
	+xs
		display: none
	$parent: &
	&::after
		content: ''
		position: absolute
		z-index: 0
		border-radius: 10px
		border: 3px solid #ebebeb
		+trs
	&::after
		top: -10px
		right: -40px
		bottom: 0
		left: 40px
		transform: perspective(1600px) rotateY(15deg) rotateX(15deg)
		+md
			right: -20px
	&__inner
		position: relative
		display: flex
		z-index: 2
		padding: 10px 30px
		+md
			padding: 10px 15px
	&__col
		width: 50%
		padding: 0 15px
		+sm
			padding: 0 10px
		&_has-img
			+vertical
			img
				display: inline-block
				max-width: 295px
				vertical-align: middle
	&__text
		&-top
			display: flex
			align-items: center
	&__title
		+f('bp700', 35)
		line-height: 1
		color: $white
	&__descr
		margin: -10px 0 25px
		color: #d6def1
		line-height: 27px
		letter-spacing: .04em
	&__discount
		display: flex
		flex-direction: column
		justify-content: center
		flex: 1 0 200px
		width: 200px
		height: 140px
		padding-bottom: 10px
		color: $blue-dark
		text-align: center
		background: url("../img/bg/promo-disc_bg.png") no-repeat 50% 50% / cover
		&-title
			display: block
			margin-bottom: 10px
			font-size: 22px
		&-numb
			+f('bp700', 44)
	&__btn
		padding: 0 33px
	&__bg
		position: absolute
		top: 0
		right: 20px
		left: -30px
		bottom: 0
		z-index: 1
		border-radius: 10px
		transform: perspective(1000px) rotateY(-8deg)
		background: linear-gradient(116deg, #e4f3f9 0%, #e4f3f9 44%, #0069ac 44%, #0069ac 100%)
		+trs
		+sm
			left: -20px
	&_home
		margin: 25px 0 0
		
/* ===================================
	 products
	 =================================== */
.products
	padding: 60px 0 0
	+md
		padding: 30px 0 0
	+xs
		padding: 15px 0 0
	&__actions
		display: flex
		justify-content: space-between
		align-items: center
		+mob-xs
			flex-direction: column
	&__list
		display: flex
		margin: 0 -15px
		flex-wrap: wrap
		+md
			margin: 0 -10px
		+mob-xs
			flex-direction: column
			margin: 0
	&__pages
		display: flex
		li
			width: 35px
			height: 35px
			line-height: 35px
			border-radius: 50%
			color: $black
			text-align: center
			&.is-active
				background-color: $blue
				color: $white
			&.is-active a
				text-decoration: none
			a
				display: inline-block
				text-decoration: underline
				+f('bp700', 15)
				.no-touch &:hover
					text-decoration: none
	&__view-count
		display: inline-flex
		align-items: center
		+f('bp700', 15)
		color: $black
		+mob-xs
			order: -1
			margin-bottom: 15px
		&-text
			display: inline-block
			margin-right: 10px
		
/* ===================================
	 product-item
	 =================================== */
.product-item
	position: relative
	flex-basis: calc(33.333333% - 30px)
	width: calc(33.333333% - 30px)
	margin: 0 15px 30px
	text-align: center
	cursor: default
	$parent: &
	+md
		flex-basis: calc(33.333333% - 20px)
		width: calc(33.333333% - 20px)
		margin: 0 10px 20px
	+sm
		flex-basis: calc(50% - 20px)
		width: calc(50% - 20px)
		margin: 0 10px 20px
		border: 1px solid #ebebeb
		background: $white
		border-radius: 10px
	+mob-xs
		flex: 1 0 auto
		margin: 0 0 20px
		width: auto
	&::before, &::after
		content: ''
		+coverdiv
		border-radius: 10px
		+trs
		+sm
			display: none
	&::before
		border: 1px solid #ebebeb
		background: $white
		z-index: 1
	&::after
		border: 2px solid #7fb4d5
		background: transparent
		visibility: hidden
		z-index: 0
	.no-touch &:hover::before
		top: -15px
		left: -15px
		right: -15px
		bottom: -15px
		transform: perspective(600px) rotateY(-10deg)
	.no-touch &:hover::after
		visibility: visible
		top: -25px
		left: -15px
		right: -30px
		bottom: -10px
		transform: perspective(600px) rotateY(10deg) rotateX(6deg)
	.no-touch &:hover #{$parent}__label
		animation: popIn .3s .4s ease
	&__inner
		position: relative
		z-index: 1
		padding: 24px 24px 35px
		+md
			padding: 15px 15px 25px
		+sm
			padding: 25px
	&__img-wrap
		height: 184px
	&__data
		margin-bottom: 12px
	&__name
		+f('bp500', 18)
		color: $blue
		border-bottom: 1px solid rgba($blue, .5)
		+trs
		.no-touch &:hover
			border-bottom-color: $blue
	&__descr
		min-height: 44px
		margin-top: 3px
		font-size: 15px
		line-height: 22px
	&__info
		&-row
			display: flex
			align-items: center
			justify-content: space-between
			&:not(:first-child)
				margin-top: 5px
	&__cart-add
		display: inline-flex
		align-items: center
		justify-content: center
		width: 30px
		height: 30px
		border-radius: 10px
		background: $yellow linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
		font-size: 0
		+trs
		.icon
			fill: $black
			font-size: 14px
		.no-touch &:hover
			background: $orange
	&__weight
		font-size: 15px
	&__price
		+f('bp500')
		font-size: 18px
		color: $black
		&-old
			color: #a3a3a3
			text-decoration: line-through
	&__label
		position: absolute
		top: 25px
		right: 16px
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		border-radius: 50%
		text-align: center
		font-size: 0
		.icon
			fill: $white
			font-size: 20px
		&_promo
			background: #fa5569 linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
			.icon
				position: relative
				top: -1px
		&_new
			background: #33c14b linear-gradient(to top, rgba(225, 156, 0, 0) 0%, rgba(225, 156, 0, 0.15) 100%)
			
/* ===================================
	 assortment
	 =================================== */
.assortment
	padding: 0 15px 30px
	+sm
		padding: 0 0 15px
	&__inner
		display: flex
		justify-content: space-between
		+sm
			flex-wrap: wrap
			justify-content: space-around
	&__item
		position: relative
		+f('bp900')
		text-transform: uppercase
		transition: transform .3s ease-in-out
		+gpu
		+sm
			margin-bottom: 15px
		.no-touch &:hover
			transform: perspective(600px) rotateY(-15deg)
		&-text
			position: absolute
			left: 44px
			bottom: 44px
			z-index: 1
		&-title
			margin-bottom: 2px
			font-size: 25px
			color: $blue
		&-descr
			font-size: 20px
			color: $black
			
/* ===================================
	 about-text
	 =================================== */
.about-text
	padding: 25px 15px 55px
	+sm
		padding: 5px 0px 25px
	&__inner
	&__title
		max-width: 800px
		margin-bottom: 26px
		+f('bp700', 30, 30)
		letter-spacing: .02em
		text-transform: uppercase
		color: #131c27
		+xs
			font-size: 26px
	&__descr
		p
			line-height: 24px
		p + p
			margin-top: 25px
			+sm
				margin-top: 15px
			
/*
	----------------------------------- */
.phones
	$parent: &
	&__num
		display: block
		+f('bp700', 25, 35)
		color: $blue-dark
		+trs
		+lg
			font-size: 20px
			line-height: 25px
		.no-touch &:hover
			color: $yellow
	&_footer
		+sm
			display: flex
			align-items: center
			flex-direction: column
	&_footer #{$parent}__num
		color: $white
		line-height: 29px