if aboutText ? aboutText : aboutText = []
if aboutText.title ? aboutText.title : aboutText.title = ''

//begin aboutText
+b.SECTION.about-text(class= aboutText.classMod ? aboutText.classMod : '')
	+e.inner
		+e.H3.title интернет магазин товаров для животных zoodiscounter
		+e.descr
			+e.P Является самым крупным интернет-магазином товаров для животных в России, в ассортимент которого входят как высококачественные корма, так и широкий выбор одежды, обуви, аксессуаров и многого другого. Мы являемся командой молодых и энергичных, готовы общаться с клиентами 7 дней в неделю 24 часа в сутки. В Call-центре работают 40 операторов.
			+e.P Наша цель  продажа товаров для домашних питомцев. Наша главная цель - предоставить Вам лучший ассортимент зоотоваров, низкие цены и высокий уровень обслуживания. Основной принцип нашей деятельности – работать таким образом, чтобы Вы всегда оставались довольны!