extends ../extend/default

block variables
	- var title = 'ZooDiscounter';

block main
	main.content(data-page='home')
		+e.content__container.container
			+b.c-tabs
				+e.tabs-nav
					+e.tabs-el
						+e.tabs-el-icon._dogs
						+e.SPAN.tabs-el-text СОБАКИ
					+e.tabs-el.is-active
						+e.tabs-el-icon._cats
						+e.SPAN.tabs-el-text КОШКИ
					+e.tabs-el
						+e.tabs-el-icon._rabbits
						+e.SPAN.tabs-el-text ГРЫЗУНЫ
					+e.tabs-el
						+e.tabs-el-icon._birds
						+e.SPAN.tabs-el-text ПТИЦЫ
					+e.tabs-el
						+e.tabs-el-icon._fishes
						+e.SPAN.tabs-el-text РЫБКИ
				+e.inner

					+b.ASIDE.sidebar.c-tabs__sidebar
						+e.UL.menu
							li: a(href='#!')
								+i('present')
								span Акции
							li: a(href='#!')
								+i('brand')
								span Бренды
							li: a(href='#!')
								+i('novelty')
								span Новинки
							li: a(href='#!')
								+i('recommend')
								span Рекомендуем

						+b.product-filter.js-filter
							+e.FORM(action='#!' method='POST')
								+e.H3.title.title-bg.js-filter-open ФИЛЬТР
								+e.inner
									+e.type
										+e.sub-title Тип животного:
										+e.type-inner
											-typeList = ['_dogs', '_cats', '_rabbits', '_birds', '_fishes']
											for typeItemMod, index in typeList
												+e.type-item
													+e.INPUT(id=`animal-type-${index + 1}` type='checkbox' name='animal-type')
													+e.LABEL(for=`animal-type-${index + 1}` class=`type-icon ${typeItemMod}`)
									+e.group
										+e.sub-title Группа товаров:
										+e.check
											+e.INPUT(id='check-1' type='checkbox' name='')
											+e.LABEL.check-item(for='check-1') Корм
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-2' type='checkbox' name='')
											+e.LABEL.check-item(for='check-2') Лакомства
												+e.check-square
													+i('check')
											+e.check-tooltip
												+e.A.check-tooltip-text(href='#!') 36 товаров

										+e.check
											+e.INPUT(id='check-3' type='checkbox' name='')
											+e.LABEL.check-item(for='check-3') Гигиена
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-4' type='checkbox' name='')
											+e.LABEL.check-item(for='check-4') Наполнители
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-5' type='checkbox' name='')
											+e.LABEL.check-item(for='check-5') Шампуни
												+e.check-square
													+i('check')
									+e.group
										+e.sub-title Бренды:
										+e.check
											+e.INPUT(id='check-6' type='checkbox' name='')
											+e.LABEL.check-item(for='check-6') Royal Canin
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-7' type='checkbox' name='' checked)
											+e.LABEL.check-item(for='check-7') Pro Plan
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-8' type='checkbox' name='')
											+e.LABEL.check-item(for='check-8') Gourmet
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-9' type='checkbox' name='' checked)
											+e.LABEL.check-item(for='check-9') Kitekat
												+e.check-square
													+i('check')
										+e.check
											+e.INPUT(id='check-10' type='checkbox' name='')
											+e.LABEL.check-item(for='check-10') Whiskas
												+e.check-square
													+i('check')

									+e.prices
										+e.sub-title Цены:
										+e.prices-range
											+b.INPUT.js-filter-range(type='text' name='' value='' data-min='0' data-max='5000' data-from='150' data-to='1500' data-step='50')

										+e.actions
											+e.INPUT.actions-btn.btn._yellow.js-reset-range(type='reset' value='СБРОСИТЬ')
											+e.INPUT.actions-btn.btn._blue(type='submit' value='Показать')


					+e.tabs-for
						+e.tab
							-
								promoList = [{
								classMod: '_home',
								title: 'Летняя Акция',
								descr: 'Полнорационный сухой корм Chappi сытный мясной обед "Мясное изобилие" подходит для всех пород собак. ',
								img: 'chappi_img',
								discount: '50%',
								btn: 'Подробнее'
								}]
							include ../components/promo

							+b.products

								+e.list
									-productItemCount = 0
									while productItemCount < 2
										-
											productList = [{
											img: 'pedigree_img',
											name: 'Pedigree',
											descr: 'Сухой корм для щенков первый прикорм'
											}, {
											img: 'go!_img',
											name: 'GO! NATURAL Holistic',
											descr: 'Беззерновой для котят и кошек пищеварением',
											promo: true
											}, {
											img: 'eukanuba_img',
											name: 'Eukanuba',
											descr: 'Беззерновой для котят и кошек пищеварением',
											novelty: true
											}]
										include ../components/product-item
										-productItemCount++

								+e.actions
									+e.UL.pages
										-pagesCount = 1
										-pagesIndex = 0
										-actIndex = 1
										while pagesCount < 5
											li(class= pagesIndex === actIndex - 1 ? 'is-active ' : ''): a(href='#!')= pagesCount
											-pagesCount++
											-pagesIndex++

									+e.view-count
										+e.SPAN.view-count-text Отображать по:
										+b.SELECT.js-select
											option 20
											option 40
											option 60
						+e.tab
							-
								promoList = [{
								classMod: '_home',
								title: 'Летняя Акция',
								descr: 'Полнорационный сухой корм Chappi сытный мясной обед "Мясное изобилие" подходит для всех пород собак.',
								img: 'chappi_img',
								discount: '50%',
								btn: 'Подробнее'
								}]
							include ../components/promo

							+b.products

								+e.list
									-productItemCount = 0
									while productItemCount < 2
										-
											productList = [{
											img: 'pedigree_img',
											name: 'Pedigree',
											descr: 'Сухой корм для щенков первый прикорм'
											}, {
											img: 'go!_img',
											name: 'GO! NATURAL Holistic',
											descr: 'Беззерновой для котят и кошек пищеварением',
											promo: true
											}, {
											img: 'eukanuba_img',
											name: 'Eukanuba',
											descr: 'Беззерновой для котят и кошек пищеварением',
											novelty: true
											}]
										include ../components/product-item
										-productItemCount++

								+e.actions
									+e.UL.pages
										-pagesCount = 1
										-pagesIndex = 0
										-actIndex = 1
										while pagesCount < 5
											li(class= pagesIndex === actIndex - 1 ? 'is-active ' : ''): a(href='#!')= pagesCount
											-pagesCount++
											-pagesIndex++

									+e.view-count
										+e.SPAN.view-count-text Отображать по:
										+b.SELECT.js-select
											option 20
											option 40
											option 60

						+e.tab
							-
								promoList = [{
								classMod: '_home',
								title: 'Летняя Акция',
								descr: 'Полнорационный сухой корм Chappi сытный мясной обед "Мясное изобилие" подходит для всех пород собак. ',
								img: 'chappi_img',
								discount: '50%',
								btn: 'Подробнее'
								}]
							include ../components/promo

							+b.products

								+e.list
									-productItemCount = 0
									while productItemCount < 2
										-
											productList = [{
											img: 'pedigree_img',
											name: 'Pedigree',
											descr: 'Сухой корм для щенков первый прикорм'
											}, {
											img: 'go!_img',
											name: 'GO! NATURAL Holistic',
											descr: 'Беззерновой для котят и кошек пищеварением',
											promo: true
											}, {
											img: 'eukanuba_img',
											name: 'Eukanuba',
											descr: 'Беззерновой для котят и кошек пищеварением',
											novelty: true
											}]
										include ../components/product-item
										-productItemCount++

								+e.actions
									+e.UL.pages
										-pagesCount = 1
										-pagesIndex = 0
										-actIndex = 1
										while pagesCount < 5
											li(class= pagesIndex === actIndex - 1 ? 'is-active ' : ''): a(href='#!')= pagesCount
											-pagesCount++
											-pagesIndex++

									+e.view-count
										+e.SPAN.view-count-text Отображать по:
										+b.SELECT.js-select
											option 20
											option 40
											option 60
						+e.tab
							-
								promoList = [{
								classMod: '_home',
								title: 'Летняя Акция',
								descr: 'Полнорационный сухой корм Chappi сытный мясной обед "Мясное изобилие" подходит для всех пород собак. ',
								img: 'chappi_img',
								discount: '50%',
								btn: 'Подробнее'
								}]
							include ../components/promo

							+b.products

								+e.list
									-productItemCount = 0
									while productItemCount < 2
										-
											productList = [{
											img: 'pedigree_img',
											name: 'Pedigree',
											descr: 'Сухой корм для щенков первый прикорм'
											}, {
											img: 'go!_img',
											name: 'GO! NATURAL Holistic',
											descr: 'Беззерновой для котят и кошек пищеварением',
											promo: true
											}, {
											img: 'eukanuba_img',
											name: 'Eukanuba',
											descr: 'Беззерновой для котят и кошек пищеварением',
											novelty: true
											}]
										include ../components/product-item
										-productItemCount++

								+e.actions
									+e.UL.pages
										-pagesCount = 1
										-pagesIndex = 0
										-actIndex = 1
										while pagesCount < 5
											li(class= pagesIndex === actIndex - 1 ? 'is-active ' : ''): a(href='#!')= pagesCount
											-pagesCount++
											-pagesIndex++

									+e.view-count
										+e.SPAN.view-count-text Отображать по:
										+b.SELECT.js-select
											option 20
											option 40
											option 60


						+e.tab
							-
								promoList = [{
								classMod: '_home',
								title: 'Летняя Акция',
								descr: 'Полнорационный сухой корм Chappi сытный мясной обед "Мясное изобилие" подходит для всех пород собак. ',
								img: 'chappi_img',
								discount: '50%',
								btn: 'Подробнее'
								}]
							include ../components/promo

							+b.products

								+e.list
									-productItemCount = 0
									while productItemCount < 2
										-
											productList = [{
											img: 'pedigree_img',
											name: 'Pedigree',
											descr: 'Сухой корм для щенков первый прикорм'
											}, {
											img: 'go!_img',
											name: 'GO! NATURAL Holistic',
											descr: 'Беззерновой для котят и кошек пищеварением',
											promo: true
											}, {
											img: 'eukanuba_img',
											name: 'Eukanuba',
											descr: 'Беззерновой для котят и кошек пищеварением',
											novelty: true
											}]
										include ../components/product-item
										-productItemCount++

								+e.actions
									+e.UL.pages
										-pagesCount = 1
										-pagesIndex = 0
										-actIndex = 1
										while pagesCount < 5
											li(class= pagesIndex === actIndex - 1 ? 'is-active ' : ''): a(href='#!')= pagesCount
											-pagesCount++
											-pagesIndex++

									+e.view-count
										+e.SPAN.view-count-text Отображать по:
										+b.SELECT.js-select
											option 20
											option 40
											option 60

				-
					assortmentList = [{
					img: 'assort_cat',
					title: 'Корм',
					descr: 'Для кошек'
					}, {
					img: 'assort_dog',
					title: 'Корм',
					descr: 'Для собак'
					}, {
					img: 'assort_fish',
					title: 'Корм',
					descr: 'Для рыбок'
					}]
				include ../components/assortment

				include ../components/about-text